@model IEnumerable<MVC_Example.Models.Indiancar>

@{
    ViewBag.Title = "Index";
    Layout = ("~/Views/Shared/_DarkLayoutPage.cshtml");
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.carname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelyear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelyear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.carId }) |
            @Html.ActionLink("Details", "Details", new { id=item.carId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.carId })
        </td>
    </tr>
}

</table>
